<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <h6>Message : <strong>{{ message }}</strong></h6>
    <hr>
        <ul *ngFor="let item of subErrors">
          <li>
            <h6><strong>{{item}}</strong></h6>
          </li>
        </ul>
        <!-- ovde moze i stack da se prikaze ako je greska klijentska -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">{{btnName}}</button>
</div>